doctype html
html
  head
    title #{lessonName} -- #{lessonTopic} -- Project
    link(rel='stylesheet', type='text/css', href='../../assets/lib.css')

    // project stuff goes here

    link(rel='stylesheet', type='text/css', href='../exercise/assets/main.css')

  body
    // project stuff goes here

    script(type='text/javascript', src='../../assets/lib.js')
    script(type='text/javascript', src='../../assets/error-handling.js', data-manual)

    // project stuff goes here

    script(type='text/javascript', src='./assets/main.js')
