doctype html
html
  head
    title #{lessonName} -- #{lessonTopic} -- Concepts
    link(rel='stylesheet', type='text/css', href='../../assets/lib.css')
    link(rel='stylesheet', type='text/css', href='../../assets/reveal.css')

  body
    .reveal
      .slides
        section
          p Today...
          h2.fragment Topic One
          h2.fragment Topic Two

    script(type='text/javascript', src='../../assets/head.js')
    script(type='text/javascript', src='../../assets/lib.js')
    script(type='text/javascript', src='../../assets/prism.js', data-manual)
    script(type='text/javascript', src='../../assets/reveal.js')