doctype html
html
  head
    title #{lessonName} -- #{lessonTopic} -- Concepts
    link(rel='stylesheet', type='text/css', href='../../../hs-utils/assets/lib.css')
    link(rel='stylesheet', type='text/css', href='../../../hs-utils/assets/reveal.css')

  body
    .reveal
      .slides
        section
          p Today...
          h2.fragment Topic One
          h2.fragment Topic Two

    script(type='text/javascript', src='../../../hs-utils/assets/head.js')
    script(type='text/javascript', src='../../../hs-utils/assets/prism.js', data-manual)
    script(type='text/javascript', src='../../../hs-utils/assets/lib.js')
    script(type='text/javascript', src='../../../hs-utils/assets/reveal.js')